# Terraform working directory
.terraform/

# Terraform state
*.tfstate
*.tfstate.*
*.tfstate.backup

# Terraform plans
*.tfplan
*.plan

# Variable files
*.tfvars
*.tfvars.json

# Crash logs
crash.log
crash.*.log

# Local overrides
override.tf
override.tf.json
*_override.tf
*_override.tf.json